/* ---------------------------------------------------------------------
 Print Styles
------------------------------------------------------------------------ */
@import 'helpers/_vars';
@import 'helpers/_mixins';

.no-print {
  display: none;
}

.print-only {
  display: block;
}

.masthead {
  padding-top: 0;
  @include vr(4);
}

.masthead-hd {
  @include vr(2);
}

.masthead-subhd {
  @include vr(3);
}

.hdg_1 {
  @include remify(1.5);
}

.hdg_2 {
  @include remify(1.25);
}

.contact {
  display: inline-block;
  text-align: left;
  line-height: 1.2;
}

.contact .icon {
  display: inline-block;
  vertical-align: middle;
}
