/**
 * Horizontal List
 * .hList
 */

.hList {
    display: block;
    font-size: 0;
}

.hList > * {
    display: inline-block;
    @include remify(1);
}

.hList_1x > * + * {
    padding-left: 5px;
}

.hList_2x > * + * {
    padding-left: 10px;
}
