/**
 * Tool tip
 * .tooltip
 */

$tooltip-COLOR_BACKGROUND: rgba(85, 85, 85, 0.8);

.tooltip {
    position: relative;
}

.tooltip-secret {
    background-color: $tooltip-COLOR_BACKGROUND;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    color: $COLOR_PLAIN;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 6px; // Height of the triangular nib
    position: absolute;
    top: calc(100% - 5px);
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: top $BASE_TEMPO $EASE_PRIMARY,
                opacity $BASE_TEMPO $EASE_PRIMARY,
                visibility 0ms linear $BASE_TEMPO;
    white-space: nowrap;
}

.tooltip-secret:before {
    content: '';
    display: block;

    // Triangular nib
    border-color: transparent;
    border-style: solid;
    border-bottom-color: $tooltip-COLOR_BACKGROUND;
    border-width: 0 6px 6px;

    // Position it
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip:hover .tooltip-secret {
    top: 100%;
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;
}
