/* ---------------------------------------------------------------------
 Print Styles
------------------------------------------------------------------------ */
.no-print {
  display: none; }

.print-only {
  display: block; }

.masthead {
  padding-top: 0;
  margin-bottom: 16px; }

.masthead-hd {
  margin-bottom: 8px; }

.masthead-subhd {
  margin-bottom: 12px; }

.hdg_1 {
  font-size: 24px;
  font-size: 1.5rem; }

.hdg_2 {
  font-size: 20px;
  font-size: 1.25rem; }

.contact {
  display: inline-block;
  text-align: left;
  line-height: 1.2; }

.contact .icon {
  display: inline-block;
  vertical-align: middle; }
