
@mixin remify ($rems) {
    $baseSizeUnitless: $BASE_FONT_SIZE / ($BASE_FONT_SIZE * 0 + 1);
    font-size: ($rems * $baseSizeUnitless) + px;
    font-size: $rems + rem;
}

@mixin vr($factor: 1) {
    margin-bottom: $VERTICAL_RHYTHM_BASE * $factor;
}
