
// Viewport breakpoints
$VIEWPORT_WIDTH_MD: 769px;


// Font stacks
$FONT_BASE: 'Crimson Text', serif;
$FONT_SECONDARY: 'Roboto', sans-serif;

// Colors
$COLOR_BASE: #333333;
$COLOR_ACCENT: #df5249;
$COLOR_PLAIN: #ffffff;

// Font sizes
$BASE_FONT_SIZE: 16px;