
// Viewport breakpoints
$VIEWPORT_WIDTH_SM: 668px; // 1px larger than iPhone 6 landscape width
$VIEWPORT_WIDTH_MD: 769px; // 1px larger than iPad portrait width


// Font stacks
$FONT_BASE: 'Gentium Book Basic', serif;
$FONT_SECONDARY: 'Roboto', sans-serif;

// Colors
$COLOR_BASE: #333333;
$COLOR_ACCENT: #df5249;
$COLOR_PLAIN: #ffffff;

// Font sizes
$BASE_FONT_SIZE: 16px;

// Animation speeds
$BASE_TEMPO: 100ms;

// Animation easing
$EASE_PRIMARY: ease-out;
$EASE_SECONDARY: ease-in;